<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" >
</head>
 
      
<body>
  <h1> TODO LIST</h1>
  <div>
    <form action="/todo_list" method="post">
      <div>
        <input type="text" placeholder="desciption" name="description" required>
      </div>
      <div>
        <input type="text" placeholder="category" name="category" required>
        <input type="date" placeholder="date" name="date" required>
     </div>
     <div>
       <button type="submit">add</button>
     </div>
   </form>
    <div>
     <form action="/delete_checked_todo_list_item" method="get">

      <button type="submit">delete</button>
     
    <% for(let index = 0 ; index < task.length;index++ ){%>

        <hr>
      <ul>
        <li>
          <input type="checkbox" name="<%=task[index]._id%>">
          <p><%= task[index].description %></p>
          <p><%=  task[index].category %></p>
          <p><%=  task[index].date %></p>
          
        </li>
      </ul>
      <hr>
  
        <% }%>
      
     </form>
      
    </div>
  </div>
 
  

  
  
</body>
</html>